$height: 398px;
$width: 800px;
$font-secondary: #737b84;
$font-primary: white;
$border-color: #414c5a;
$team-bg: #323e4c;
$player-image-size: 55px;

.flex-cl {
  display: flex;
  flex-direction: column;
}

.flex-cl-ctr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-rw {
  display: flex;
}

.flex-rw-ctr {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  font-family: Open Sans, sans-serif;
  background-color: black;
  a {
    text-decoration: none;
    color: inherit;
  }
}

.card-container {
  max-height: $height;
  padding: 10% 0;
}

.card {
  width: $width;
}

.name-roster-container {
  background-color: $team-bg;
  width: 66%;
  border-bottom: 1px solid $border-color;
  border-right: 1px solid $border-color;
  padding: 20px 0px 0px 10px;
}

.name-badge {
  height: 34%;

  h1 {
    color: $font-primary;
    font-size: 1.3rem;
  }

  .box {
    $_linear-gradient-start: #384c60;
    background: linear-gradient(to right, $_linear-gradient-start, $team-bg);
    max-height: 45px;
    align-items: center;
    width: 75%;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
  }

  .circle {
    $_circle-color: #4c6689;
    border-radius: 50%;
    background-color: $_circle-color;
    height: 60px;
    width: 60px;
    color: $font-primary;
    font-size: 1.3rem;
    font-weight: bold;
  }

  img {
    max-height: 60px;
    margin: 0px 5px;
    margin-top: 5px;
  }
}

.roster-container {
  height: 66%;
}

.core-container {
  $_core-bg: #222c38;
  $_core-container-color: #58616c;
  background-color: $_core-bg;
  position: relative;
  div:first-child {
    color: $_core-container-color;
    font-size: 0.6rem;
  }
}

.core-text {
  position: absolute;
  top: 2px;
}

.player-card {
  $_player-card-bg: #3c4d54;
  div {
    color: $font-primary;
    font-size: 0.6rem;
    font-weight: 600;
  }
  img {
    max-height: $player-image-size;
    min-height: $player-image-size;
    background-color: $_player-card-bg;
    margin: 0 10px;
  }
}

.prize-achievements-container {
  max-height: $height/2;
  min-height: $height/2;
  width: 34%;
}

.prize-money {
  $_prize-money-bg: #1e2832;
  background-color: $_prize-money-bg;
  height: 30%;
  color: $font-secondary;
  border-bottom: 1px solid $border-color;
  div:first-child {
    font-size: 0.75rem;
  }
  div:last-child {
    color: $font-primary;
    font-size: 1.1em;
    font-weight: 600;
  }
}

.achievements-container {
  $_achievements-bg: #263242;
  background-color: $_achievements-bg;
  height: 70%;
  border-bottom: 1px solid $border-color;
  font-size: 0.8rem;
  color: $font-secondary;
}

.achievement {
  $_height: 20px;
  width: 80%;
  padding: 5px 20px;
  height: $_height;
  line-height: $_height;
  :last-child {
    color: $font-primary;
    margin-left: auto;
  }
}

.graph {
  $_graph-bg: #1f2b39;
  background-color: $_graph-bg;
  img {
    width: 100%;
  }
}
